@use '../abstracts/variables';

.btn {
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.3rem 3.6rem;
  border: none;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.05rem;
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;

  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }

  &__primary {
    &,
    &:link,
    &:visited {
      background: hsl(var(--clr-cyan-400));
      box-shadow: var(--bs2);
      color: #fff;
    }

    &:hover,
    &:focus {
      opacity: 75%;
      color: #fff;
    }
  }

  &__secondary {
    &,
    &:link,
    &:visited {
      background-color: hsl(var(--clr-blue-400));
      border-color: hsl(var(--clr-blue-400));
      box-shadow: var(--bs1);
      color: #fff;
    }

    &:hover,
    &:focus {
      opacity: 75%;
      color: #fff;
    }
  }

  &--rounded {
    border-radius: 2.8rem;
  }
}
