@use '../abstracts' as *;

@font-face {
  font-family: 'BaiJamjuree';
  font-weight: 400;
  src: url(/fonts/BaiJamjuree-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'BaiJamjuree';
  font-weight: 600;
  src: url(/fonts/BaiJamjuree-SemiBold.ttf) format('truetype');
  font-display: swap;
}

body {
  font-family: var(--ff-body);
  font-size: 1.8rem;
  font-weight: var(--fw-regular);
  line-height: 3rem;
  color: hsl(var(--clr-neutral-200));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  color: hsl(var(--clr-neutral-400));
}

h1 {
  font-size: 4.6rem;
  line-height: normal;
  letter-spacing: -0.075rem;
}

h2 {
  font-size: 3.6rem;
  line-height: normal;
  letter-spacing: -0.0587rem;
}

h3 {
  font-size: 2.4rem;
  line-height: normal;
  letter-spacing: -0.0391rem;
}

p + p {
  margin-bottom: 1.5rem;
}

@include media-breakpoint-down(md) {
  body {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.012rem;
  }

  h1 {
    font-size: 3.2rem;
    letter-spacing: -0.0522rem;
  }

  h2 {
    font-size: 2.8rem;
    letter-spacing: -0.0457rem;
  }
}
